/dts-v1/;
#include "rk3328-firefly-port.dtsi"
#include <dt-bindings/sensor-dev.h>
/ {
	model = "Firefly rk3328-firefly-aiojd4";
	compatible = "rockchip,rk3328-firefly-aiojd4", "rockchip,rk3328";

	leds {
		compatible = "gpio-leds";

		power {
			label = "firefly:yellow:user";
			linux,default-trigger = "ir-power-click";
			gpios = <&rk805 1 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		user {
			label = "firefly:blue:power";
			linux,default-trigger = "ir-user-click";
			gpios = <&rk805 0 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	xin32k: xin32k {
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
		#clock-cells = <0>;
	};
};

&uart0 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart0_xfer>;
       status = "okay";
};

&uart1 {
       pinctrl-names = "default";
       pinctrl-0 = <&uart1_xfer>;
       status = "disable";
};

&uart2 {
       pinctrl-names = "default";
       pinctrl-0 = "&uart2m1_xfer";
       status = "disable";
};

&vccio_sd {
	gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd_pwr_1800_sel>;
};

&vcc_sd {
	status = "disabled";
};

&sdio_pwrseq {
	reset-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
};

&codec {
	io-channels = <&saradc 0>;
	hp-det-adc-value = <1800>;
};

&pinctrl {
	vccio-sd {
		sd_pwr_1800_sel:sd-pwr-1800-sel {
			rockchip,pins =
				<0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&rkvdec {
	vcodec-supply = <&vdd_logic>;
};

&sdmmc {
	vmmc-supply = <&vcc_io>;
};

&sdmmc_ext {
	bus-width = <4>;
	//cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	max-frequency = <500000000>;
	mmc-pwrseq = <&sdio_pwrseq>;
	num-slots = <1>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0ext_clk &sdmmc0ext_cmd &sdmmc0ext_bus4>;
	supports-sdio;
	status = "okay";
	vmmc-supply = <&vcc_io>;
};

&usb20_otg {
	dr_mode = "otg";
};

&dmc {
	system-status-freq = <
		/*system status         freq(KHz)*/
		SYS_STATUS_NORMAL       786000
		SYS_STATUS_REBOOT       786000
		SYS_STATUS_SUSPEND      786000
		SYS_STATUS_VIDEO_1080P  786000
		SYS_STATUS_VIDEO_4K     786000
		SYS_STATUS_VIDEO_4K_10B 786000
		SYS_STATUS_PERFORMANCE  786000
		SYS_STATUS_BOOST        786000
	>;
};
